# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.iml

# Plataformas geradas via `flutter create .`
# (mantenha versionadas apos gerar, se desejar)
